html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    background-color: rgb(248, 105, 105);
    border-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    color: black;
    font-size: x-large;
}

button:hover {
    background-color: rgb(124, 44, 44);
}


a, p, span, h1, h2, h3, h4, h5, h6 {
    color: black;
    background-color: transparent;
    text-decoration: none;
}




.section__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    overflow: hidden;
}

.section__grid > * {
    overflow: hidden;
}


.score-big{
    display: flex;
    flex-direction: column;
    padding-inline: 5px;
    padding-block: 5px;

}

.score-big__team-name{
    font-size: 3rem;
    width: 100%;
    text-align: center;
    margin-top: auto;
    word-wrap: break-word;
}

.score-big__numbers{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.score-big__game{
    font-size: 20rem;
    margin-inline: auto;
}

.score-big__set{
    font-size: 10rem;
}

#score-set-team-2{
    order: -1;
}

.button-grid-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    
}

.button-grid-1 > *{
    font-size: 1rem;;
}

.button-grid-1 > *:nth-child(1){
    grid-row: 1 / 3;
}

.button-grid-1 > *:nth-child(2){
    grid-row: 1 / 3;
}

.button-grid-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.button-grid-2 > *{
    font-size: 1rem;;
}

.button-grid-2 > *:nth-child(3){
    grid-row: 1 / 3;
    grid-column: 2;
}

.button-grid-2 > *:nth-child(4){
    grid-row: 1 / 3;
    grid-column: 3;
}

.only-button{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

#hide {
    position: fixed;
    bottom: 5px;
    left: 5px;
}

/* .set {
    width: 150px;
}

.score {
    display: inline-block;
    width: 200px;
}  */